<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" />
    <link href="https://fonts.font.im/css?family=Sacramento" rel="stylesheet">
    <title>Rose Special</title>
</head>
<body>

<div class="container">
    <div class="letter">
        <h1>Zindagi fulo si bhari rahe,<br> aasman taro se bhara rahe,<br> jis jagah bhi tasrif rakho aap ,<br> wo jagah gulabo si bhari rahe.</h1>
    	<div><h2>HAPPY ROSE DAY</h2></div>
	</div>
    <div class="rose">
        <div class="flower">
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
        </div>
        <div class="leaf">
            <div class="stem"></div>
            <div class="leafs"></div>
            <div class="leafs"></div>
        </div>
    </div>
	<div class="rose change-dir">
        <div class="flower">
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
            <div class="petal"></div>
        </div>
        <div class="leaf">
            <div class="stem"></div>
            <div class="leafs"></div>
            <div class="leafs"></div>
        </div>
    </div>

</div>
</div>
</body>
</html>